
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg);
  color: #555;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2,h1{
  padding: 0px;
  margin: 0px;
}

:root{
  --primary-color : #ff3703;
  --secondary-color : #0046a8;
  --green: #5fa101;
  --pink: #FFC2CF;
  --orange: #ff751d;
  --yellow:#ffb600;

  --bg :  #fff7ea;
}
